@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", monospace;
  --bg-color: #000;
  --hover-color: #baff29;
  --primary-color: #fff;
  --top-item-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spinner {
  display: none;
  width: 40px;
  height: 40px;
  border: 8px #baff29 double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.9s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}
.top-container {
  display: none;
  height: 80%;
  width: 100%;
  box-sizing: border-box;
}
.top-container .top-20-mobile {
  align-items: center;
  justify-content: center;
  display: none;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.top-container .top-20-mobile .mobile-focus {
  position: absolute;
  height: 70%;
  width: 80%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  box-sizing: border-box;
  padding: 0.5rem;
  justify-content: space-between;
  border-radius: 10px;
}
.top-container .top-20-mobile .mobile-focus .mobile-focus-image-container {
  height: 50%;
}
.top-container .top-20-mobile .mobile-focus .mobile-focus-image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-container .top-20-mobile .mobile-focus .similar-label {
  color: var(--hover-color);
  font-size: 0.85rem;
}
.top-container .top-20-mobile .mobile-focus .mobile-focus-similar {
  height: 40%;
  width: 100%;
  overflow: scroll;
}
.top-container .top-20-mobile .mobile-focus .mobile-focus-similar .mobile-focus-inner {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}
.top-container .top-20-mobile .mobile-focus .mobile-focus-similar .mobile-focus-inner .mobile-similar-link {
  margin-right: 1rem;
}
.top-container .top-20-mobile .mobile-focus .mobile-focus-similar .mobile-focus-inner .mobile-similar-image {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-container .top-20-mobile .top-20-mobile-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  box-sizing: border-box;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col {
  width: 100%;
  max-height: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item {
  width: 30%;
  background-color: var(--hover-color);
  border-radius: 5px;
  padding: 0.25rem;
  box-sizing: border-box;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-image-container {
  height: 50%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-image-container .mobile-image {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-details {
  padding: 0 0.25rem;
  box-sizing: border-box;
  height: 50%;
  overflow-y: scroll;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-details .detail .mobile-top-label {
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  color: #333333;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-details .detail .mobile-top-label .mobile-top-no {
  font-size: inherit !important;
  text-align: right;
  color: var(--top-item-color);
  text-align: center;
  background-color: var(--hover-color);
  border-radius: 50%;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-details .detail .mobile-top-data {
  font-size: 0.65rem;
  font-weight: 700;
  color: var(--top-item-color);
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-details .detail .mobile-top-data .mobile-top-data-link {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col .mobile-top-item .mobile-top-details .detail .mobile-top-data .mobile-top-data-link .spotify-icon {
  margin-left: 0.25rem;
  font-size: 1.25rem;
  color: #191414;
}
.top-container .top-20-mobile .top-20-mobile-inner .mobile-col-7 {
  justify-content: space-around;
}
.top-container .top-1-section {
  display: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  box-sizing: border-box;
  opacity: 0;
}
.top-container .top-1-section > * {
  flex-basis: 50%;
}
.top-container .top-1-section .top-left {
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}
.top-container .top-1-section .top-left img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.top-container .top-1-section .top-right {
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.top-container .top-1-section .top-right .track-info {
  flex-basis: 25%;
}
.top-container .top-1-section .top-right .track-info .info-head {
  font-size: 1rem;
  color: #a6a6a6 !important;
}
.top-container .top-1-section .top-right .track-info .info-detail {
  color: var(--primary-color);
  font-size: 3rem;
  transition: linear 0.3s;
}
.top-container .top-1-section .top-right .track-info .info-detail > * {
  font-size: inherit !important;
  color: inherit !important;
  text-decoration: none;
}
.top-container .top-1-section .top-right .track-info .info-detail > * span {
  font-size: inherit;
  color: inherit !important;
}
.top-container .top-1-section .top-right .track-info .info-detail > * i {
  color: #191414 !important;
  font-size: inherit;
}
.top-container .top-1-section .top-right .track-info .info-top-name {
  text-decoration: underline;
  display: inline-block;
}
.top-container .top-1-section .top-right .track-info .info-top-name:hover {
  color: var(--hover-color);
}
.top-container .top-1-section .top-right .see-more {
  font-size: 0.85rem;
  color: var(--primary-color);
  width: -moz-fit-content;
  width: fit-content;
  transition: linear 0.3s;
  display: none;
}
.top-container .top-1-section .top-right .see-more:hover {
  color: #a6a6a6 !important;
}
.top-container .top-20 {
  display: none;
  height: 100%;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  flex-shrink: 0;
}
.top-container .top-20 .top-20-inner {
  height: 100%;
  box-sizing: border-box;
  padding: 0.35rem;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  scrollbar-color: var(--primary-color) #000;
  scrollbar-width: thin;
}
.top-container .top-20 .top-20-inner::-webkit-scrollbar {
  height: 0.25rem;
  box-sizing: border-box;
  background: var(--hover-color);
}
.top-container .top-20 .top-20-inner::-webkit-scrollbar-track {
  height: 20px !important;
}
.top-container .top-20 .top-20-inner::-webkit-scrollbar-thumb {
  background-color: #3e5c00;
  width: 1px;
}
.top-container .top-20 .top-20-focus {
  flex-shrink: 0;
  display: none;
  order: 1;
  width: 30%;
  height: 100%;
  border: solid 3px var(--hover-color);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  flex-direction: column;
  box-sizing: border-box;
}
.top-container .top-20 .top-20-focus .focus-image-container {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.top-container .top-20 .top-20-focus .focus-image-container .focus-image {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: linear 0.3s;
}
.top-container .top-20 .top-20-focus .focus-details {
  height: 20%;
  width: 100%;
  box-sizing: border-box;
}
.top-container .top-20 .top-20-focus .focus-similar {
  width: 100%;
  height: 30%;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-label-4 {
  height: 10%;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner {
  height: 90%;
  display: flex;
  box-sizing: border-box;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner .focus-similar-overflow {
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  scrollbar-color: var(--primary-color) #000;
  scrollbar-width: thin;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner .focus-similar-overflow::-webkit-scrollbar {
  height: 0.2rem;
  box-sizing: border-box;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner .focus-similar-overflow::-webkit-scrollbar-track {
  width: 1px !important;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner .focus-similar-overflow::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  border-radius: 5px;
  height: 1px;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner .focus-similar-overflow .similar-data {
  margin-right: 0.5rem;
  box-sizing: border-box;
  max-width: 150px;
}
.top-container .top-20 .top-20-focus .focus-similar .focus-similar-inner .focus-similar-overflow .similar-data .similar-image {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: linear 0.3s;
}
.top-container .top-20 .top-20-focus .focus-label {
  color: #cccccc;
  font-size: 0.75rem;
}
.top-container .top-20 .top-20-focus .focus-label > * {
  font-size: inherit;
}
.top-container .top-20 .top-20-focus .focus-data {
  font-size: 1rem;
  color: var(--primary-color);
}
.top-container .top-20 .top-20-main {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  order: 2;
  display: flex;
}
.top-container .top-20 .col-2,
.top-container .top-20 .col-4 {
  border-left: solid 2px #cccccc;
  border-right: solid 2px #cccccc;
}
.top-container .top-20 .col {
  flex-basis: 25%;
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-container .top-20 .col .top-item {
  width: 100%;
  min-height: 7rem;
  max-height: 7rem;
  border-radius: 10px;
  display: flex;
  padding: 0.35rem;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--hover-color);
  transition: linear 0.5s;
  cursor: pointer;
}
.top-container .top-20 .col .top-item:hover {
  background-color: var(--primary-color);
}
.top-container .top-20 .col .top-item:hover .focus-item {
  background-color: var(--primary-color);
}
.top-container .top-20 .col .top-item .top-item-no {
  text-align: center;
  font-size: 0.7rem;
  color: var(--top-item-color);
  font-weight: 500;
}
.top-container .top-20 .col .top-item .top-item-inner {
  display: flex;
  width: 100%;
  height: 100%;
  order: 1;
  top: 0;
  left: 0;
  transition: linear 0.3s;
}
.top-container .top-20 .col .top-item .top-item-inner .top-image-container {
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.top-container .top-20 .col .top-item .top-item-inner .top-image-container .top-image {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  transition: linear 0.3s;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0 0.3rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--primary-color) #000;
  scrollbar-width: thin;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details::-webkit-scrollbar {
  width: 0.15rem;
  background: none;
  padding: 5px 0;
  box-sizing: border-box;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details::-webkit-scrollbar-track {
  width: 2px !important;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 5px;
  height: 1px;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .detail {
  display: flex;
  flex-direction: column;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .top-label-no {
  display: flex;
  justify-content: space-between;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .top-label {
  font-size: 0.65rem;
  font-weight: 500;
  color: #333333;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .top-label > * {
  font-size: inherit;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .top-data {
  color: var(--top-item-color);
  font-size: 0.8rem;
  font-weight: 700;
  word-wrap: break-word;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .top-data .top-data-link {
  text-decoration: underline;
  color: inherit;
  font-size: inherit;
}
.top-container .top-20 .col .top-item .top-item-inner .top-item-details .top-data .top-data-link .spotify-icon {
  margin-left: 0.25rem;
  font-size: 1.35rem;
  color: #191414;
}

.app-footer {
  display: none;
  height: 10%;
  width: 100%;
  opacity: 0;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 50;
  color: var(--hover-color);
}
.app-footer .footer-text {
  font-size: 1rem;
  color: var(--hover-color);
}
.app-footer .footer-right {
  display: flex;
  align-items: center;
}
.app-footer .footer-right .currently {
  font-size: 1rem;
  display: none;
}

#app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
}
#app .alt-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  z-index: 1;
}
#app .inner-app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
#app .inner-app .navbar {
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
  height: 10%;
  box-sizing: border-box;
  opacity: 0;
}
#app .inner-app .navbar .nav-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#app .inner-app .navbar .nav-item > * {
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  transition: linear 0.3s;
}
#app .inner-app .navbar .nav-item .dropdown-link {
  font-size: 0.75rem !important;
}
#app .inner-app .navbar .nav-item:hover .dropdown {
  display: flex !important;
  background-color: var(--bg-color);
}
#app .inner-app .navbar .nav-link:hover,
#app .inner-app .navbar .dropdown-link:hover {
  color: var(--hover-color) !important;
}
#app .inner-app .navbar .nav-user {
  cursor: default;
  margin-right: 2rem;
}
#app .inner-app .navbar .nav-left,
#app .inner-app .navbar .nav-right {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
#app .inner-app .navbar .nav-left .dropdown,
#app .inner-app .navbar .nav-right .dropdown {
  display: none;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 15;
  position: absolute;
  align-items: center;
}
#app .inner-app .navbar .nav-left .dropdown > *,
#app .inner-app .navbar .nav-right .dropdown > * {
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 0.85rem;
  transition: linear 0.3s;
}
#app .inner-app .navbar .nav-left {
  display: none;
}
#app .inner-app .navbar .active-left {
  display: flex !important;
}
#app .log-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app .log-in-section h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  cursor: default;
}
#app .log-in-section .log-in-btn {
  width: 100%;
}
#app .log-in-section .log-in-btn i {
  color: #191414;
  font-size: 22px;
}
#app .intro {
  display: none;
  flex-direction: column;
  align-items: center;
}
#app .intro > * {
  opacity: 0;
}
#app .intro .intro-head {
  color: var(--primary-color);
  font-size: 3rem;
}
#app .intro .intro-head > * {
  font-size: inherit;
}
#app .intro .intro-lead {
  color: #a6a6a6;
  margin-bottom: 1rem;
}
#app .intro .intro-btns {
  display: flex;
}
#app .intro .intro-btns .intro-btn-1 {
  margin-right: 1rem;
}
#app .open-section {
  display: none;
  text-align: center;
}
#app .open-section > * {
  color: var(--primary-color);
  font-size: 5rem;
  display: none;
  opacity: 0;
}
#app .open-section > * > * {
  font-size: inherit;
  color: inherit;
}
#app .error-section {
  display: none;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
#app .error-section .error-message {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
#app .error-section .error-recommendations {
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
#app .error-section .error-recommendations .recommendations-header {
  color: var(--hover-color);
  font-size: 1.25rem;
  height: 15%;
}
#app .error-section .error-recommendations .inner-recommendations {
  height: 82%;
  width: 100%;
  box-sizing: border-box;
}
#app .error-section .error-recommendations .inner-recommendations .recommendations {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  scrollbar-color: var(--primary-color) #000;
  scrollbar-width: thin;
}
#app .error-section .error-recommendations .inner-recommendations .recommendations::-webkit-scrollbar {
  height: 0.25rem;
  box-sizing: border-box;
  background: var(--hover-color);
}
#app .error-section .error-recommendations .inner-recommendations .recommendations::-webkit-scrollbar-track {
  height: 20px !important;
}
#app .error-section .error-recommendations .inner-recommendations .recommendations::-webkit-scrollbar-thumb {
  background-color: #3e5c00;
  width: 1px;
}
#app .error-section .error-recommendations .inner-recommendations .recommendations .rec-image-link {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.5rem;
}
#app .error-section .error-recommendations .inner-recommendations .recommendations .rec-image-link .recommendations-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: linear 0.3s;
}
#app .error-section .error-return {
  font-size: 0.75rem;
  text-align: center;
  color: #f2f2f2;
  transition: linear 0.3s;
}
#app .error-section .error-return:hover {
  color: #bfbfbf;
}

.btn-1 {
  padding: 1rem 2rem;
  box-sizing: border-box;
  background: none;
  font-weight: 700;
  border-radius: 10px;
  border: solid 2px var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  transition: linear 0.3s;
}
.btn-1 > * {
  color: inherit;
  transition: linear 0.3s;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.btn-1:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  color: #000;
}
.btn-1:hover > * {
  color: #000;
}

.focused-item {
  background-color: var(--primary-color) !important;
}

@media only screen and (max-width: 650px) {
  .navbar {
    padding: 0 1rem !important;
  }
  .navbar .nav-item > * {
    font-size: 0.85rem !important;
  }
  .intro {
    padding: 0 1.2rem !important;
    box-sizing: border-box;
  }
  .intro .intro-head {
    font-size: 1rem !important;
  }
  .intro .intro-lead {
    font-size: 0.65rem !important;
    text-align: center !important;
  }
  .intro .intro-btn {
    padding: 1rem !important;
    font-size: 0.85rem;
  }
  .open-item {
    font-size: 1.85rem !important;
  }
  .top-1-section {
    flex-direction: column !important;
    padding: 1rem 1rem !important;
  }
  .top-1-section .top-right {
    padding: 1rem 0 !important;
  }
  .top-1-section .top-right .track-info .info-head {
    font-size: 0.85rem !important;
  }
  .top-1-section .top-right .track-info .info-head > * {
    font-size: inherit !important;
  }
  .top-1-section .top-right .track-info .info-detail {
    font-size: 1.25rem !important;
  }
  .top-1-section .top-right .track-info .info-detail > * {
    font-size: inherit !important;
    color: inherit !important;
  }
  .top-1-section .top-right .track-info .info-detail > * span {
    font-size: inherit;
    color: inherit !important;
  }
  .top-1-section .top-right .track-info .info-detail > * i {
    color: #191414 !important;
  }
  .app-footer {
    padding: 0 1rem !important;
  }
  .app-footer .footer-text {
    font-size: 0.85rem !important;
  }
  .app-footer .currently {
    font-size: 0.85rem !important;
  }
  .top-20 {
    display: none !important;
  }
  .top-20-mobile {
    display: flex !important;
    flex-direction: column;
  }
  .error-section {
    width: 100% !important;
  }
  .error-section .error-message {
    font-size: 0.85rem !important;
  }
  .error-section .error-recommendations .recommendations-header {
    font-size: 1rem !important;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 900px) {
  .navbar .nav-item > * {
    font-size: 1.25rem;
  }
  .top-1-section .top-right .track-info {
    flex-basis: auto !important;
  }
  .top-1-section .top-right .track-info .info-detail {
    font-size: 4rem !important;
  }
  .top-1-section .top-right .track-info .info-detail > * {
    font-size: inherit !important;
    color: inherit !important;
  }
  .top-1-section .top-right .track-info .info-detail > * > * {
    font-size: inherit !important;
    color: inherit !important;
  }
  .top-1-section .top-right .track-info .info-head {
    font-size: 1.5rem !important;
  }
  .top-1-section .top-right .track-info .info-head > * {
    font-size: inherit !important;
  }
  .top-1-section .top-right .see-more {
    font-size: 1.25rem !important;
  }
  .top-20-mobile {
    display: none !important;
  }
  .top-item {
    min-height: 9.5rem !important;
  }
  .top-item .top-item-inner .top-item-details .detail .top-label,
  .top-item .top-item-inner .top-item-details .detail .top-item-no {
    font-size: 0.85rem !important;
  }
  .top-item .top-item-inner .top-item-details .detail .top-data {
    font-size: 1rem !important;
  }
  .top-20-focus .focus-data {
    font-size: 1.25rem !important;
  }
  .top-20-focus .focus-similar-overflow .similar-data {
    max-width: 280px !important;
  }
  .app-footer .footer-text,
  .app-footer .currently {
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: 2000px) and (min-height: 1300px) {
  .navbar .nav-item > * {
    font-size: 1.5rem;
  }
  .top-item {
    min-height: 12rem !important;
  }
  .top-item .top-item-inner .top-item-details .detail .top-label,
  .top-item .top-item-inner .top-item-details .detail .top-item-no {
    font-size: 1rem !important;
  }
  .top-item .top-item-inner .top-item-details .detail .top-data {
    font-size: 1.25rem !important;
  }
  .top-20-mobile {
    display: none !important;
  }
  .top-20-focus .focus-details {
    box-sizing: border-box;
    padding: 1rem !important;
  }
  .top-20-focus .focus-label {
    font-size: 1.5rem !important;
  }
  .top-20-focus .focus-label-4 {
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .top-20-focus .focus-data {
    font-size: 2rem !important;
  }
  .top-20-focus .focus-similar-overflow .similar-data {
    max-width: 280px !important;
  }
  .app-footer .footer-text,
  .app-footer .currently {
    font-size: 1.5rem !important;
  }
}
@media only screen and (min-width: 2200px) and (min-height: 1500px) {
  .top-item {
    min-height: 15rem !important;
  }
  .top-item .top-item-inner .top-item-details .detail .top-label,
  .top-item .top-item-inner .top-item-details .detail .top-item-no {
    font-size: 1rem !important;
  }
  .top-item .top-item-inner .top-item-details .detail .top-data {
    font-size: 1.5rem !important;
  }
  .top-20-focus {
    padding: 1rem !important;
  }
  .top-20-focus .focus-details {
    box-sizing: border-box;
    padding: 1rem !important;
  }
  .top-20-focus .focus-label {
    font-size: 1.5rem !important;
  }
  .top-20-focus .focus-label-4 {
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .top-20-focus .focus-data {
    font-size: 2rem !important;
  }
  .top-20-focus .focus-similar-overflow .similar-data {
    max-width: 280px !important;
  }
}/*# sourceMappingURL=style.css.map */