@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", monospace;
  --bg-color: #1a1b41;
  --hover-color: #baff29;
  --primary-color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spinner {
  display: none;
  width: 40px;
  height: 40px;
  border: 8px #baff29 double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.8999999999999999s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}

.top-container {
  display: none;
  height: 80%;
  width: 100%;
  box-sizing: border-box;
}

.top-1-section {
  display: none;
  height: 100%;
  // border: solid 1px red;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  box-sizing: border-box;
  opacity: 0;

  & > * {
    flex-basis: 50%;
    // border: solid 1px blue;
  }

  .top-left {
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
  }

  .top-left img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .top-right {
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .track-info {
      flex-basis: 25%;

      .info-head {
        font-size: 1rem;
        color: darken($color: #fff, $amount: 35) !important;
      }

      .info-detail {
        color: var(--primary-color);
        font-size: 3rem;
      }
    }

    .see-more {
      font-size: 0.85rem;
      color: var(--primary-color);
      width: fit-content;
      transition: linear 0.3s;
      display: none;
      // border: solid 1px red;
      &:hover {
        color: darken($color: #fff, $amount: 35) !important;
      }
    }
  }
}

.top-20 {
  display: none;
  height: 100%;
  width: 100%;
  background-color: red;
}

.app-footer {
  display: none;
  height: 10%;
  width: 100%;
  opacity: 0;
}

.navbar {
  // background-color: var(--bg-color);
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
  height: 10%;
  box-sizing: border-box;
  opacity: 0;

  .nav-item {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    & > * {
      text-align: center;
      text-decoration: none;
      color: var(--primary-color);
      transition: linear 0.3s;
      // background-color: var(--bg-color);
    }

    &:hover .dropdown {
      display: flex !important;
      background-color: var(--bg-color);
    }
  }

  .nav-link:hover,
  .dropdown-link:hover {
    color: darken($color: #fff, $amount: 35) !important;
  }

  .nav-user {
    cursor: default;
    margin-right: 2rem;
  }

  .nav-left,
  .nav-right {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;

    .dropdown {
      display: none;
      top: 100%;
      width: 100%;
      height: 100%;
      z-index: 15;
      position: absolute;
      // display: flex;
      align-items: center;
      & > * {
        color: var(--primary-color);
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 0.85rem;
        transition: linear 0.3s;
      }
    }
  }

  .nav-left {
    display: none;
  }

  .active-left {
    display: flex !important;
  }
}
#app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);

  .alt-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 1;
  }

  .inner-app {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }

  .log-in-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // display: none;
    justify-content: center;

    h2 {
      font-size: 2rem;
      color: var(--primary-color);
      margin-bottom: 1rem;
      cursor: default;
    }
    .log-in-btn {
      width: 100%;
    }
  }

  .intro {
    display: none;
    flex-direction: column;
    align-items: center;

    & > * {
      opacity: 0;
    }

    .intro-head {
      color: var(--primary-color);
      font-size: 3rem;

      & > * {
        font-size: inherit;
      }
    }

    .intro-lead {
      color: darken($color: #fff, $amount: 35);
      margin-bottom: 1rem;
      // opacity: 1;
    }

    .intro-btns {
      display: flex;

      .intro-btn-1 {
        margin-right: 1rem;
      }
    }
  }

  .open-section {
    display: none;
    text-align: center;

    & > * {
      color: var(--primary-color);
      font-size: 5rem;
      display: none;
      opacity: 0;

      & > * {
        font-size: inherit;
        color: inherit;
      }
    }
  }
}

.btn-1 {
  padding: 1rem 2rem;
  box-sizing: border-box;
  background: none;
  font-weight: 700;
  border-radius: 10px;
  border: solid 2px var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  transition: linear 0.3s;

  & > * {
    color: inherit;
    transition: linear 0.3s;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  &:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    color: #000;

    & > * {
      color: #000;
    }
  }
}
